<.header>
  Page A
  <:actions>
    <.link navigate={~p"/page_b"}>
      <.button>Page B</.button>
    </.link>
    <.link navigate={~p"/page_c/tab_1"}>
      <.button>Page C Tab 1</.button>
    </.link>
  </:actions>
</.header>

