<.header>
  Page B
  <:actions>
    <.link navigate={~p"/page_a"}>
      <.button>Page A</.button>
    </.link>
    <.link navigate={~p"/page_c/tab_2"}>
      <.button>Page C Tab 2</.button>
    </.link>
  </:actions>
</.header>

